.dropzone {
    border: 2px dashed var(--line-color);
    border-radius: 15px;
    padding:20px 190px;
    text-align: center;
    cursor: pointer;
  
  
  }
  .dropzone.active {
    border-color: #666666;
  }
  .dropzone .text {
    color: var(--s-color);
  
  }
  .dropzone .instruction{
    color: var(--container-color);
    font-size: var(--main-txt);
    font-weight: 400;
  }
  .dropzone .instruction span{
    color: var(--s-color);
    text-decoration: underline;
  }