.box{
    width:7% ;
    background-color: var(--sec-txt-color);
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 15px;
    padding: .6% 4.5%;
    cursor: pointer;
    

}
.box span{
    font-size: var(--small1-txt);
    color: var(--txt-color);

}
.box:hover{
    background-color: #d3d3d3;

}
.active{
    background-color: var(--main-color);
}
.active:hover{
    background-color:#f5b921 ;
}