.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.container div{
    padding: 10px;
}
.container_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container_bottom{
   width: 100%;
   align-items: center;
   display: flex;
   margin-left: 10px;
}