
:root {
    --bc-color: #ffff;
    --main-color: #FFCA40;
    --s-color: #C8161D;
    --container-color:#ACAAAA;
    --txt-color: #111111;
    --sec-txt-color:#F5F5F5;
    --line-color: #C9C5C5;
    --txt-color2: #414141;


    --main-txt:18px;
    --mega-txt:33px;
    --big-txt:28px;
    --large-txt:24px;
    --medium2-txt:22px;
    --meduim-txt :20px;
    --avg-txt:16px;
    --small1-txt:14px;
    --small2-txt : 12px;
    --xsmall-txt:10px;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    color: var(--txt-color);
    background: var(--bc-color);
    
  }
  html,
  body {
  max-width: 100vw;
  overflow-x: hidden;
}

  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  .mainStructure{
    display: flex;
    width: 100%;
  }
  .sideDrawer{
    display: flex;
    min-height: 100vh;
    width: 8%;
    
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .topbar{
    flex: 1;
  }
  .childern{
    flex: 4;
  }
  