.inventory{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2%;
}
.inventory_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 50px;
}
.inventory_container_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inventory_container_header_title{
    flex: 2;
}
.inventory_container_header_title span{
   color: var(--txt-color);
   font-size: var(--large-txt);
   font-weight: 700;
} 
.inventory_container_header_actions{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}