.superAppHeader {
    background-color: var(--main-color)  !important; 
    color: #ffffff !important;
    font-weight: bold;
    font-size: 16px;
    font-weight: 800;

  }
  
 
  .customCheckbox {
    color: var(--s-color) !important;
  }

  .actions{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 5px;
    cursor: pointer;
    
  }
 
  .actions button{
    background-color: transparent;
    outline: none;
    border: none;

}
  .actions button:hover{
    opacity: .8;
  }