.search {
    width: 100%;
}

.search input {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputContainer label {
    color: var(--txt-color);
    font-size: var(--avg-txt);
    font-weight: 600;
}

.inputContainer .input__field {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--line-color);
    padding: 7px 10px 10px 0px;
    font-size: var(--small2-txt);
    color: var(--container-color);
}

.meduim {
    width: 300px;
}

.large {
    width: 500px;
}
