.button {
    font-size: 2rem;
    border: 0;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    color: var(--txt-color);
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;

}
.secondary{
    background-color: transparent;
    color: var(--txt-color2);
    border: 1px solid var(--container-color);
    border-radius: 12px;
    font-size: 16px;
}
.popular {
    background-color: var(--main-color);
    color: var(--bc-color);
    border-radius: 12px;
    font-size: 16px;
}


.small {
    padding: 7px 2rem;
}

.mediam {
    padding: 10px 7rem;
}

.meduim {
    padding: 14px 3rem;
}
.meduim2{
    padding: 14px 2rem;
}

.large {
    padding: 15px 25rem;
}

.small:hover {
    padding: 8px 3rem;
}
/* 
.mediam:hover {
    padding: 10px 7.5rem;
} */

.large:hover {
    padding: 15px 28rem;
}

.full {
    width: 90%;
    padding: 15px 14rem;

}

.full:hover {
    width: 100%;
}